@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://pro.fontawesome.com/releases/v5.8.2/css/all.css');

@import 'variables.scss';
@import 'structure.scss';

/* Text styles */
h1,
h2,
h3,
h4,
h5,
a,
p,
ul,
li,
button,
span,
label,
input,
textarea {
  font-family: $font;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
}

/* Reset */
html {
  font-size: 1em;
  word-spacing: 0.1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  color: $title-color;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: $title-color;
}

h3 {
  font-size: 26px;
  font-weight: 600;
  color: $title-color;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  color: $title-color;
}

p {
  font-size: 17px;
  color: $text-color;
}

ul {
  list-style: none;
}

li {
  font-size: 17px;
  font-weight: 600;
  color: $text-color;
}

.list::before {
  content: "";
  width: 7px;
  height: 7px;
  margin-right: 15px;
  background-color: $primary-dark;
  border-radius: 100%;
  display: inline-block;
}

.list p {
  margin-left: 22px;
}

.infos {
  font-size: 14px;
}

i {
  font-size: 18px;
}

a {
  font-weight: bold;
  color: $primary;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  transition: 0.1s ease;
}

.link-secondary:hover {
  opacity: 0.7;
  transition: 0.1s ease;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*Social*/
.twitter {
  color: #1da1f2;
  background-color: rgba(29, 161, 242, 0.1);
}

.github {
  color: #24292e;
  background-color: rgba(36, 41, 46, 0.1);
}

.telegram {
  color: #0088cc;
  background-color: rgba(0, 136, 204, 0.1);
}

.forum {
  color: #491e8c;
  background-color: rgba(73, 30, 140, 0.1);
}

.discord {
  color: #7289da;
  background-color: rgba(114, 137, 218, 0.1);
}

.reddit {
  color: #ff4500;
  background-color: rgba(255, 69, 0, 0.1);
}

.blog {
  color: #12100E;
  background-color: rgba(18, 16, 14, 0.1);
}

.container>p {
  max-width: $small-width;
  margin: auto;
}

.container {
  max-width: $width;
  margin: auto;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .container {
    max-width: 100%;
    padding: calc(2 * #{$margin});
  }
}

@media only screen and (max-width: $tablet-breakpoint) {
  .container {
    max-width: 100%;
    padding: calc(2 * #{$margin});
  }
}