@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://pro.fontawesome.com/releases/v5.8.2/css/all.css');

:root {
  --primary-dark: #0e061c;
  --primary: #491e8c;
  --secondary: #3B1873;
  --primary-light: #7e61ae;
  --primary-very-light: #bdafd6;
  --dark-grey: #3c3940;
  --light-grey: #f2f0f7;
  --White: #ffffff;
  --Black: #000000;

  --Error: #f44336;
  --Success: #4bb543;
  --Info: #1e88e5;

  --mobile-only: 414px;
  --mobile-breakpoint: 768px;
  --tablet-breakpoint: 1024px;
}
