@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://pro.fontawesome.com/releases/v5.8.2/css/all.css');

:root {
  --very-dark-purple: #0e061c;
  --dark-purple: #210e41;
  --primary: #491e8c;
  --secondary: #3B1873;
  --light-purple: #7e61ae;
  --very-light-purple: #bdafd6;
  --dark-grey: #3c3940;
  --light-grey: #f2f0f7;
  --White: #ffffff;
  --Wallets-Sale: #2e1359;
  --Wallets-Partners: #7e44d8;
  --Wallets-Founders: #c2a3ff;
  --Wallets-Reserve: #dfcdf7;
  --Error: #f44336;
  --Success: #4bb543;
  --Info: #1e88e5;
  --Black: #000000;

  --mobile-only: 414px;
  --mobile-breakpoint: 768px;
  --tablet-breakpoint: 1024px;
}

.Number1 {
  font-family: OpenSans;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--primary);
}

h1 {
  font-family: OpenSans;
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--very-dark-purple);
}

h2 {
  font-family: OpenSans;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--very-dark-purple);
}

.Number2 {
  font-family: OpenSans;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--primary);
}

h3 {
  font-family: OpenSans;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--very-dark-purple);
}

h4 {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--very-dark-purple);
}

.H1subtitle {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-grey);
}

.ButtonPurple {
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--primary);
}

.ButtonWhite {
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--White);
}

.Paragraphe {
  font-family: OpenSans;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-grey);
}