@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --Purple-1: #0e061c;
  --Purple-2: #210e41;
  --Purple-3: #491e8c;
  --Lavender-1: #7e61ae;
  --lavender-2: #bdafd6;
  --Grey-1: #3c3940;
  --Grey-2: #f2f0f7;
  --White: #ffffff;
  --Wallets-Sale: #2e1359;
  --Wallets-Partners: #7e44d8;
  --Wallets-Founders: #c2a3ff;
  --Wallets-Reserve: #dfcdf7;
}

.Number1 {
  font-family: OpenSans;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Purple-3);
}

h1 {
  font-family: OpenSans;
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Purple-1);
}

h2 {
  font-family: OpenSans;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Purple-1);
}

.Number2 {
  font-family: OpenSans;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Purple-3);
}

h3 {
  font-family: OpenSans;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Purple-1);
}

h4 {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Purple-1);
}

.H1subtitle {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Grey-1);
}

.ButtonPurple {
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Purple-3);
}

.ButtonWhite {
  font-family: OpenSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--White);
}

.Paragraphe {
  font-family: OpenSans;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Grey-1);
}